@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;

}

:root {
    --cr-p: rgb(18, 19, 61);
    --cr-s: rgb(170, 75, 143);
    --cr-b: rgb(255, 255, 255);
}

body {
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
}

.n-section {
    padding: 0 15px;
    display: flex;
    justify-content: center;
}

/* Tution section */
.main-section {
    width: 1400px;
    padding: 100px 0 0px 0;

}

.main-section-title {
    text-align: center;
}

.main-section h2 {
    font-size: 48px;
    color: var(--cr-p);
}

.main-section p {
    font-size: 20px;
    color: rgba(10, 57, 1, 0.921);
}

header {
    background-color: var(--cr-b);
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    padding: 0 15px;
    z-index: 10;
}

.header-main {
    height: 64px;
    width: 1400px;
    background-color: var(--cr-b);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    gap: 39px;
}

nav a {
    color: var(--cr-p);
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 600;
}

nav a:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
}

nav a:hover {
    color: var(--cr-s);
}

.login-cta {
    padding: 10px 17px;
    background-color: var(--cr-s);
    color: var(--cr-b);
    font-size: 15px;
    font-weight: 600px;
    border: none;
    border-radius: 5px;
}

.login-cta:hover {
    background-color: var(--cr-p);
    cursor: progress;
}