.full-width-hero {
    width: 100%;
    height: 70vh;
    position: relative;
    z-index: 1;
}

.full-width-hero video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 1;
}

.full-width-hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(10, 57, 1, 0.3);
    z-index: 2;
}

/* hero vontent out side div where applyed flex */
.hero-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* hero contrnt div center */
.hero-text-width {
    max-width: 900px;
    color: var(--cr-b);
    text-align: center;
    z-index: 2;

}

.hero-text-width h1 {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 20px;

}

.hero-text-width p {
    font-size: 24px;
    margin-bottom: 25px;

}

.hero-text-width a button {
    font-size: 18px;
    padding: 15px 25px;
    border: none;
    border-radius: 6px;
    background-color: var(--cr-s);
    color: var(--cr-b);

}

.hero-text-width a button:hover {
    background-color: var(--cr-p);

}

/* Tution section */
.tuition {
    width: 1400px;
    padding: 50px 0 30px 0;

}

.tuition-title {
    text-align: center;
}

.tuition-title h2 {
    font-size: 48px;
    color: var(--cr-p);
}

.tuition-title p {
    font-size: 20px;
    color: rgba(10, 57, 1, 0.9);
}

/* tution card list */
.tuition-card-list {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

}

/* tution card */
.tuition-card {
    border: 1px solid rgba(170, 75, 143, 0.363);
    width: 260px;
    border-radius: 6px;
    overflow: hidden;
    /* box-shadow: 0px 0px 5px .2px var(--cr-s); */

}

/* tution card image  */
.tuition-image-holder {
    width: 100%;
    height: 162px;
    position: relative;

}

/* if image  */
.tuition-image-holder img {
    width: 100%;
    object-fit: contain;
    display: block;
}

/* if video  */
.tuition-image-holder video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* card lable */
.tution-card-lable {
    position: absolute;
    top: 10px;
    right: 10px;
}

.tution-card-lable span {

    padding: 2px 12px 3px 12px;
    font-size: 12px;
    font-weight: 500;
    background-color: var(--cr-s);
    color: var(--cr-b);
    border-radius: 25px;
}

/* tution card text details */
.tuition-card-details {
    padding: 10px;
}

.tuition-card-details h3 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
}

.tuition-card-details h3:last-of-type {
    color: var(--cr-s);
    margin-bottom: 6px;
}

/* text decotation teacher mane and icon */
.tuition-card-details p {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: rgba(10, 57, 1, 0.9);
}

.tuition-card-details p i,
.tution-card-rating ul li i {
    color: var(--cr-s) !important;
    font-size: 12px;
    font-weight: 600;
    padding-right: 5px;
}

/* tution-card-rating */
.tution-card-rating {
    margin-top: 6px;
}

.tution-card-rating ul {
    display: flex;
    justify-content: space-between;
    list-style: none;

}

.tution-card-rating ul li {
    font-size: 12px;
    font-weight: 400;

}


/* action: price and action CTA  */
.tution-price-cta {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tution-price-cta p {
    font-size: 18px;
    font-weight: 700;
    color: var(--cr-s);
}

.tution-price-cta a button {
    padding: 5px 15px;
    border: none;
    background-color: var(--cr-s);
    color: var(--cr-b);
    border-radius: 3px;
}